@colorSteelBlue: #4682B4;
@colorBackground: #f2f4f6;
@colorWhite: #FFFFFF;
@colorGrayLight: #D3D3D3;

.title {
    font-size: 15px;
    padding-left: 10px;
}

.countSensors {
    padding-left: 7px;
    color: @colorSteelBlue;
    font-size: 15px;
}

.sensor {
    background: @colorWhite;
    margin: 10px;
    min-height: 70px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
        padding: 0 10px;
        position: relative;
    }
}

.leftBlockSensor {
    display: flex;
    align-items: center;
}

.headerModalWindow {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid @colorGrayLight;
}

.textModalWindow {
    font-size: 13px;
    margin-top: 10p;
}

.centerModalWindow {
    padding: 10px;
}

.deleteChangeSensor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-bottom: 1px solid @colorGrayLight;
    padding-bottom: 10px;
}

.inputText {
    padding-top: 15px;
}

.buttonDeleteChange {
    display: flex;
    align-items: center;
}

.textDeleteChange {
    padding-left: 7px;
}

.inputModalWindow {
    border: 1px solid @colorGrayLight;
    border-radius: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    padding: 10px 5px;
}

.buttonModalWindow {
    border-top: 1px solid @colorGrayLight;
    padding: 15px;
}

.signalBattery {
    display: flex;
    justify-content: flex-end;
    right: 15px;
    top: 0px;
}

.signal, .battery {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 3px;
    width: 40px;
}

.signalText, .batteryText {
    &:after {
        content: "%";
    }
}

.countSeconds {
    margin: 10px 10px 0;
}

.blockFooter {
    margin: 15px 10px;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
}