@colorBlack: #3B3B3B;

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    padding: 10px 0;
    color: @colorBlack;
}

.linkText {
    padding-left: 10px;
    flex-grow: 1;
}

.info {
    display: flex;
    position: absolute;
    bottom: 10px;
    flex-direction: column;
    right: 0;
    left: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: @colorBlack;
}

.textInfo {
    font-size: 14px;
}
